#display-box {
  background-color: #694552;
  height: 65px;
  width: 300px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#display_formula {
  font-size: 20px;
  margin: 40px 10px 0 0;
}

#display {
  margin: 0 10px 40px 0;
  font-size: 35px;
  font-weight: bold;
}

@media (max-width: 340px) {
  #display-box {
    height: calc(65px * 0.9);
    width: calc(300px * 0.9);
  }

  #display_formula {
    margin: calc(40px * 0.9) calc(10px * 0.9) 0 0;
  }

  #display {
    margin: 0 calc(10px * 0.9) calc(40px * 0.9) 0;
  }
}
